@{
    ViewData["Title"] = "Access Denied";
}

<div class="container-fluid">

    <!-- 404 Error Text -->
    <div class="text-center">
        <div class="error mx-auto" data-text="401">401</div>
        <p class="text-gray-500 mb-0"><h1>Authorised</h1>  </p>
        <p class="text-gray-500 mb-0"><h3>Personnel</h3>  </p>
        <p class="text-gray-500 mb-0"><h4>Only</h4>  </p>
        <a href="/admin/post">&larr; Back to Dashboard</a>
    </div>

</div>