

@{
    ViewData["Title"] = "List of Posts";
}


<div class="container-fluid">
    <a class="btn btn-secondary mb-1">Create Post</a>
    <div class="card">
        <div class="card-header bg-dark">
            <h4 class="card-title text-white">List of Posts</h4>
        </div>
        <div class="card-body">
            
        </div>
    </div>
</div>